@font-face {
    font-family: "Bluu Next";
    src: url(../project\ assets/assets/bluunext.woff2), url(../project\ assets/assets/bluunext.woff);
}

body {
    font-family: "Bluu Next", Times New Roman;
    font-size: 24px;
    line-height: 1.5;

    background-color: #ffffff;
    color: #333333;
    margin: 40px auto 40px auto;
    width: 620px;
}

h1 {
    font-size: 24px;
    font-weight: 700;
}